<div class="navbar">
  <div class="menu">
  <div class="navbar-link">
    <a href="/about">About</a>
  </div>
  <div class="navbar-link">
    <a href="/contact">Contact</a>
  </div>
  <div class="navbar-link">
    <a href="/"><%= image_tag 'logo.png', width:'80px' %></a>
  </div>
  <div class="navbar-link">
    <a href="/wineclub">Wine Club</a>
  </div>
  <div class="navbar-link">
    <a class='menu-btn' href="https://www.toasttab.com/art-du-vin-long-beach-2027-e-4th-st" target='_blank'>Menu</a>
  </div>
  </div>
  <div class="social">
      <div class='social-link'>
      <a href="https://www.instagram.com/artduvin/?hl=en" target='_blank'><%= image_tag 'insta.png', width:'20px' %></a>
    </div>
      <div class='social-link'>
      <a href="https://www.facebook.com/ArtDuVin/" target='_blank'><%= image_tag 'fb.png', width:'20px' %></a>
    </div>
  </div>
  </div>
</div>

<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Top Navigation Menu -->
<div class="topnav">
  <a href="/" class="active"><%= image_tag 'logo.png', width:'60px' %></a>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/wineclub">Wine Club</a>
    <a href="https://www.toasttab.com/art-du-vin-long-beach-2027-e-4th-st" target='_blank'>Menu</a>
    <a href="https://www.instagram.com/artduvin/?hl=en" target='_blank'><%= image_tag 'insta.png', width:'20px' %></a>
    <a href="https://www.facebook.com/ArtDuVin/" target='_blank'><%= image_tag 'fb.png', width:'20px' %></a>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
