<div class="home">
  <div class="title-info">
    <div class="title">
      <h1><%= image_tag 'lb.png', width:'200px', alt:'corkscrew'%>Art<br>du Vin</h1>
    </div>
    <div class="home-photo">
      <%= image_tag 'home.png', width: '100%', alt:'glass of wine' %>
    </div>
    <div class="tagline">
      <p>Not your typical <br>natural wine bar.</p>
    </div>
  </div>
  <div class="home-line">
    <%= image_tag'line2', width:'100%;', alt:'swiggily line' %>
  </div>
      <div class="bottom-blob">
    <%= image_tag 'bottom-blob.svg', alt:'pink background'%>
    </div>
</div>
    <div class="top-blob">
    <%= image_tag 'top-blob.svg', alt:'pink background' %>
    </div>

<div class="home-mobile">
  <div class="title-info-mobile">
    <div class="home-photo">
      <%= image_tag 'home.png', width: '100%' %>
    </div>
    <div class="title-mobile">
      <h1>Art du Vin</h1>
    </div>
    <div class="tagline-mobile">
      <%= image_tag 'lb.png', width:'100px', alt:'glass of wine' %>
      <p>Not your typical <br>natural wine bar.</p>
    </div>
  </div>
  <div class="home-line">
    <%= image_tag'line2', width:'100%;', alt:'pink background' %>
  </div>
        <div class="bottom-blob">
    <%= image_tag 'bottom-blob.svg', alt:'pink background' %>
    </div>
</div>

